#content {
    padding: 3px;
}

#content h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    background-size: 20px no repeat;
    margin-top: 50px;
    
}


#content strong {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;

}


.first-title h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
    margin-top: 40px;


}
.first-title img , 
.second-title img,
 .third-title img{
    margin-top: 20px;
}

.first-title h3,
.second-title h3,
.third-title h3 {
   font-size: 20px;
    margin-top: 15px;
}



.second-title h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
    margin-top: 40px;

}

.third-title h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
    margin-top: 40px;


}




